################################
## fastIPvanish template file ##
##                            ##
## default.tmpl               ##
################################
client
dev tun
proto udp
remote SERVER_HERE 443
resolv-retry infinite
nobind
persist-key
persist-tun
persist-remote-ip
keepalive 10 120
ca CERT_HERE
verify-x509-name SERVER_HERE name
auth-user-pass LOGIN_HERE
comp-lzo
verb 3
auth SHA256
cipher AES-256-CBC
keysize 256
tls-cipher TLS-DHE-RSA-WITH-AES-256-CBC-SHA:TLS-DHE-DSS-WITH-AES-256-CBC-SHA:TLS-RSA-WITH-AES-256-CBC-SHA
